@charset "UTF-8";
/* @override 
	https://hermosawavephotography.com/assets/css/styles.css */
/* Typekit Asian Font Loader 
font-family: ryo-gothic-plusn, sans-serif; (200, 400, 700)
 font-family: "noto-sans-cjk-jp", sans-serif; (300, 400, 500, 700, 900)
 */
/* Global Reset & Standards ---------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  font-family: ryo-gothic-plusn, sans-serif;
  background-color: rgb(60, 63, 68);
  margin: 0 0 10px 0;
  padding: 0 0 20px 0;
  color: #000;
  width: 100%;
}

.mainbody {
  background-color: #f9f6f4;
  margin: 0 5% 20px 5%;
  padding: 0;
  max-width: 2048px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px solid #fff;
  border-top: none;
  filter: drop-shadow(5px 5px 5px #000000);
}

.fullwidth {
  max-width: none;
}

.topbody {
  padding: 0 6% 0 6%;
}

.mainimage {
  /*   margin: 0 0 10px 0; */
  margin: 0 0 0 0;
  padding: 0;
}

.mainimageleft {
  width: 30%;
  height: 60%;
  z-index: 100;
  position: absolute;
}

p, li {
  font-weight: 400;
  font-style: normal;
  font-size: 12pt;
  line-height: 20pt;
  padding-bottom: 15px;
  margin: 0;
}

h1, h2, h3 {
  font-weight: 300;
  margin: 10px 0 0 0;
  letter-spacing: -1px;
}

h4, h5, h6 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px 0 0 0;
}

h1 {
  font-size: 30pt;
  line-height: 32pt;
  padding: 0;
  margin: 10px 0 40px 0;
}

h2 {
  font-size: 22pt;
  line-height: 24pt;
  padding: 30px 0 10px 0;
}

h3 {
  font-size: 16pt;
  line-height: 20pt;
  margin-bottom: 0;
  font-weight: 300;
  letter-spacing: 0;
  padding: 0;
}

h4 {
  font-size: 10pt;
  line-height: 18pt;
  font-weight: 300;
}

.topbody ul li {
  /*  line-height: 17pt;
    margin-bottom: 10px; */
}

a {
  color: #125;
  text-decoration: none;
  margin: 0 1px;
}

a:hover {
  text-decoration: none;
  color: #336699;
}

.topbody a {
  color: #125;
  text-decoration: underline;
  margin: 0 1px;
}

.topbody a:hover {
  text-decoration: none;
  color: #336699;
}

img {
  width: 100%;
  border-radius: 6px;
}

figcaption, img + figcaption, img + caption {
  text-align: center;
  font-size: 10pt;
  margin-top: 0;
  border-top: 0;
  color: #666;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.right {
  float: right;
  margin: 5px 0 5px 30px;
  width: 40%;
}

.max-width {
  max-width: 800px;
}

nav {
  font-size: 10pt;
  line-height: 20pt;
  font-weight: 300;
  text-transform: uppercase;
  padding: 20px 6% 20px 6%;
  letter-spacing: 0.5px;
}

.navitem {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #000;
}

nav a:hover, nav a .hwp:hover {
  color: darkgoldenrod;
  text-decoration: none;
}

nav .current {
  font-weight: 700;
}

nav a .hwp {
  /* color:#336699; */
  font: bold;
}

#img1 {
  border-radius: 8px;
  width: 100%;
  cursor: e-resize;
  margin: 0;
  padding: 0;
}

ul {
  color: #444;
}

p.subtitle {
  font-weight: 300;
  font-size: 10pt;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

p.fineprint {
  font-weight: 500;
  font-size: 9pt;
  line-height: 11pt;
  letter-spacing: 2;
  text-transform: none;
  margin: 50 0 0 0;
  padding: 0;
}

.mobile {
  display: none;
}

.mobileinline {
  display: none;
}

/* reformatting for vertical images “aspect: vertical” */
.vertical .mainimage {
  width: 54%;
  padding: 0 5% 0 0;
  float: left;
}

.vertical .description {
  float: left;
  width: 45%;
}

.buy_button a {
  width: 220px;
  display: inline-block;
  border: 0;
  border-radius: 0.25rem;
  background: green;
  color: white;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;
  padding: 8px;
  margin: 0 20px 8px 0;
  cursor: pointer;
}

.buy_button a:hover {
  background: white;
  color: green;
}

/*　Subimages (secondary images on main photo page) */
.subimagegroup {
  text-align: center;
  margin: 10px 0;
}

.subimage {
  display: inline-block;
  width: 45%;
  overflow: hidden;
  margin: 10px 2% 30px 2%;
  padding: 1px;
  text-align: center;
  font-size: 9pt;
  line-height: 14pt;
  font-weight: 300;
  vertical-align: middle;
}

/* Post Navi */
.post-nav {
  clear: both;
  text-align: center;
  padding: 10px 0 10px 0;
  margin: 30px 0 0 0;
  font-size: 9pt;
  line-height: 12pt;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 300;
  border-top: 1px #fff solid;
}

.post-nav div {
  display: inline;
  padding: 0 3px;
}

.post-nav a {
  color: #111;
}

.post-nav a:hover {
  color: #336699;
}

.thumbnavleft {
  margin-right: 1%;
}

.thumbnavright {
  margin-left: 1%;
}

/* ///// Footer stuff ///// */
footer {
  clear: both;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #707066;
  margin: 0;
  padding: 20px 3%;
  font-size: 8pt;
  line-height: 12pt;
  color: #ccc;
  text-align: center;
  border-top: 2px #fff dotted;
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer1,
.footer2,
.footer3 {
  text-align: left;
  vertical-align: top;
}

.footer1, .footer2, .footer3 {
  line-height: 14pt;
}

footer nav {
  padding: 0;
}

footer .navitem {
  display: block;
  font-size: 8pt;
  line-height: 12pt;
  color: #444;
}

footer a, footer nav a {
  color: #fff;
}

footer a:hover, footer nav a:hover, footer nav a.hwp:hover {
  color: rgb(255, 192, 32);
}

footer img.calendar_thumb {
  max-width: 220px;
  padding: 10px 0;
}

/* // front page divs // */
#frontpageleft {
  width: 48%;
  float: left;
}

#frontpageright {
  width: 48%;
  float: right;
}

#frontpageleft .mainimage img,
#frontpageright .mainimage img {
  cursor: pointer;
}

/* ///////////// BILINGUAL FORMATTING ///////////// */
/* basically only for standard horizontal images, will need to remove for phones */
/* ///// BILINGUAL NAVIGATION //// */
.jp_nav {
  display: none;
}

.jp {
  font-size: 12pt;
  line-height: 20pt;
}

.title_jp { /* taken from h2 styles */
  display: block;
  font-weight: 200;
  font-size: 16pt;
  line-height: 24pt;
  padding: 10px 0 0px 0;
}

h3.jp {
  font-size: 16pt;
  line-height: 20pt;
  margin-bottom: 10px;
  font-weight: 500;
  letter-spacing: 0;
  padding: 0;
}

h3.en {
  font-size: 16pt;
  line-height: 20pt;
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: 0;
  padding: 0;
}

/* .jp {  to remove jpnz text 
  display: none;
}
*/
/* ///// FORM STYLES ////// */
.contact-form {
  margin: 5px;
  padding: 20px;
  border: 1px solid #444444;
  border-radius: 4px;
}

.form-label {
  width: 100px;
  position: absolute;
  text-align: right;
}

.form-entry input,
.form-entry button {
  margin-left: 110px;
  width: 200px;
}

.form-entry textarea {
  margin-left: 110px;
  width: 200px;
  height: 100px;
}

/* ///////////// RESPONSIVE OVERRIDES  ///////////// */
/* default wide screen */
/* smaller monitor and ipad */
@media only screen and (max-width: 1032px) {
  .mainbody {
    margin: 0 30px 10px 30px;
    /* padding: 0 20px 0 20px; */
    padding: 0;
    max-width: 1024px;
    display: block;
  }
  .topbody {
    padding: 0 4% 0 4%;
  }
  .mainimageleft {
    height: 40%;
  }
  .post-nav {
    /* margin: 6px -20px 0 -20px; */
    padding: 5px 10px 5px 10px;
    letter-spacing: 0;
  }
  .post-nav div {
    display: inline;
    padding: 0 7px;
  }
  nav {
    padding: 15px 4% 14px 4%;
  }
  .thumbnavleft {
    margin-right: 0;
  }
  .thumbnavright {
    margin-left: 0;
  }
  /* 2022 flexbox  
   .footer1,
   .footer2,
   .footer3 {
        margin: 0 2%;
   }
   */
  .thumbnail {
    width: 31%;
  }
  .thumbnailgroup.float {
    width: 31%;
  }
  .midsize {
    display: none;
  }
}
/* iPhone horizontal and vertical? */
@media only screen and (max-width: 812px) {
  body {
    margin: 0;
    padding: 0;
  }
  .mainbody {
    /* margin:  0; 
    padding: 0; */
    padding: 0 20px 0 20px;
    margin: 0;
    max-width: 780px;
    border: none;
  }
  .topbody {
    margin: 0;
    padding: 0 20px;
  }
  /*  (moved to vertical below)
      .vertical .mainimage { 
      width: 100%;
      padding: 0 0 0 0; 
      float: none;
  }

      .vertical .description {
      float: none;
      width: 100%;
  }
      */
  nav {
    padding: 10px 20px 10px 20px;
    /* letter-spacing: 1px; */
    font-size: 8pt;
  }
  .post-nav {
    margin: 10px 0 0 0;
    padding: 6px 5px 2px 5px;
    letter-spacing: 0px;
    font-size: 8pt;
    line-height: 14pt;
  }
  .thumbnailimage {
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .thumbnavleft {
    margin-right: 0;
    padding-right: 4%;
  }
  .thumbnavright {
    margin-left: 0;
    padding-left: 4%;
  }
  footer {
    padding: 10px 0;
    margin: 0;
  }
  h1 {
    font-size: 22pt;
    line-height: 26pt;
  }
  h2 {
    font-size: 16pt;
    line-height: 20pt;
    /* font-size: 16pt;
    line-height: 18pt;
    font-weight: 700; */
  }
  h3 {
    font-size: 12pt;
    line-height: 1pt;
    font-weight: 700;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 10pt;
    line-height: 12pt;
  }
  p {
    font-size: 12pt;
    line-height: 18pt;
  }
  /*
     .jp {
         line-height: 16pt;
         font-size: 9pt;
     }

     .title_jp { 
         font-size: 15pt;
         line-height: 20pt;
        }
        */
  p.subtitle {
    font-size: 8pt;
    line-height: 10pt;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
  }
  .midsize {
    display: none;
  }
}
/* iPhone vertical only */
@media only screen and (max-width: 812px) and (orientation: portrait) {
  .mainbody {
    margin: 0;
    padding: 0;
  }
  .topbody {
    padding: 0 20px;
  }
  .mainimageleft {
    height: 75%;
  }
  .vertical .mainimage {
    width: 100%;
    padding: 0 0 0 0;
    float: none;
  }
  .vertical .description {
    float: none;
    width: 100%;
  }
  nav {
    padding: 5px 10px 10px 10px;
  }
  .post-nav {
    margin: 0;
    padding: 6px 10px;
  }
  .post-nav div {
    padding: 0 4px;
  }
  footer {
    padding: 10px;
    margin: 0;
  }
  .footer1,
  .footer2,
  .footer3 {
    display: block;
    text-align: left;
    vertical-align: top;
    margin: 20px 0;
    line-height: 18pt;
  }
  footer img._thumb {
    max-width: 200px;
    padding: 10px 0;
  }
  footer .navitem, footer br a {
    line-height: 18pt;
  }
  .midsize {
    display: none;
  }
  .mobileyes {
    display: none;
  }
  .mobile {
    display: block;
    font-size: 9pt;
    /*color: #888;*/
  }
  .mobileinline {
    display: inline;
  }
  .thumbnail {
    width: 47%;
    margin: 0 1px 20px 1px;
  }
  .thumbnailgroup.float {
    width: 47%;
  }
  /*　Subimages */
  .subimagegroup {
    text-align: center;
  }
  .subimage {
    display: inline-block;
    width: 90%;
    overflow: hidden;
    margin: 10px 2% 30px 2%;
    padding: 1px;
    text-align: center;
    font-size: 9pt;
    line-height: 12pt;
    font-weight: 300;
    vertical-align: middle;
  }
  .photogallery li {
    margin: 0 0 20px 0;
    width: 97%;
    display: block;
    vertical-align: top;
  }
  /* // front page divs // */
  #frontpageleft, #frontpageright {
    width: 100%;
    float: none;
  }
}

/*# sourceMappingURL=styles.css.map */